/* This is for any CSS used uniquely in the Home page */
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.send-button{
background-color: blue;
border-radius: 6px;
border: none;

}